Source: ros-bouncy-examples-rclcpp-minimal-timer
Section: misc
Priority: extra
Maintainer: Morgan Quigley <morgan@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-bouncy-ament-cmake, ros-bouncy-rclcpp, ros-bouncy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-bouncy-examples-rclcpp-minimal-timer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-bouncy-rclcpp, ros-bouncy-ros-workspace
Description: Examples of minimal nodes which have timers
